.button {
  display: inline-block;
  padding: .55em 1.5em;
  background-color: $color__primary;
  border: .125rem solid $color__primary--light;
  color: #fff;
  border-radius: $radius;
  box-shadow: $shadow;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 500;
  transition:
    color $transition,
    background-color $transition,
    border-color $transition,
    box-shadow $transition;

  @include hov {
    background-color: $color__primary--dark;
    border-color: $color__primary;
    color: #fff;
  }

}

.button--alert {
  @extend .button;
  background-color: $color__alert;
  border-color: $color__alert--light;
  color: #000;

  @include hov {
    background-color: $color__alert--dark;
    border-color: $color__alert;
    color: #000;
  }

}

.button--error {
  @extend .button;
  background-color: $color__error;
  border-color: $color__error--light;

  @include hov {
    background-color: $color__error--dark;
    border-color: $color__error;
  }

}

.button--outline {
  @extend .button;
  background-color: transparent;
  color: $color__primary;
}

%card-base {
  border-radius: 1rem;
  box-shadow: $shadow;
  border: 0.125rem solid #ccc;
  overflow: hidden;
  color: #000;
  text-decoration: none;
  margin-bottom: 1rem;
  transition:
    box-shadow $transition,
    transform $transition;
  
  @include hov {
    box-shadow: $shadow-large;
    transform: scale(1.025);
  }

}

.card-icon {
  @extend %card-base;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 2rem;

  &__img {
    width: 5rem;
    grid-row: span 2;
    border-radius: 50%;
    box-shadow: $shadow;
  }

  &__title,
  &__text {
    margin: 0;
  }

  &__title {
    align-self: flex-end;
  }

  &__icon {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    align-self: center;
  }

}

.card-image {
  @extend %card-base;
  display: block;
  padding-top: 56.25%;
  position: relative;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0008;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title,
  &__text {
    color: #fff;
    margin: 0;
  }

}