// Colors ------------------------------
$color__primary: #00673e;
$color__primary-pale: #befee4;
$color__primary--light: #017949;
$color__primary--dark: #00331f;
$color__accent-1: #67003e;
$color__accent-1--light: #febee4;
$color__accent-2: #673e00;
$color__accent-2--light: #fee4be;
$color__accent-3: #3e6700;
$color__accent-3--light: #e4febe;
$color__accent-4: #003e67;
$color__accent-4--light: #bee4fe;
$color__accent-5: #3e0067;
$color__accent-5--light: #e4befe;
$color__accent-6: #3e6767;
$color__accent-6--light: #e4fefe;
$color__accent-7: #3e3e67;
$color__accent-7--light: #e4e4fe;
$color__accent-8: #676700;
$color__accent-8--light: #fefebe;
$color__alert: #d8b31b;
$color__alert--dark: #b69511;
$color__alert--light: #d3b744;
$color__error: #670c03;
$color__error--dark: #3f0601;
$color__error--light: #852219;

// Reusable Style ------------------------------
$transition: .2s;
$radius: .5rem;
$shadow: 0 0.1875rem 0.3125rem #0003;
$shadow-large: 0 0.3125rem 0.625rem #0004;